
<h1>HTML</h1>
<pre>&lt;a class="btn btn-primary" id="btnSimpleView"&gt;Click Here&lt;/a&gt;</pre>
<h1>JavaScript</h1>
<pre>@@section Scripts {
<font color="#ffffff" style="background-color: rgb(110, 0, 0);">@@Scripts.Render("~/bundles/dynamicModal")</font>
&lt;script type="text/javascript"&gt;
<font color="#ffffff" style="background-color: rgb(110, 0, 0);">var dm = DynamicModal.init();</font>

    $(document).ready(() =&gt; { 
        
    });
&lt;/script&gt; 

}</pre>