@{
    ViewBag.Title = "About";
}


<div class="jumbotron bg-dark text-white">
    <h1>Dynamic Modal</h1>
    <p class="lead">It is a JavaScript library with a back-end class that defines the return structure for the Dynamic Modals and makes using Modals so simple and easy!</p>
</div>

<ul>
    <li>
        Handles all views in one Modal.
    </li>
    <li>
        Authorization and Roles control are already handled.
    </li>
    <li>
        You don't need to write your own Ajax Submit calls in Javascript.
    </li>
    <li>
        Bootstrap Alert messages (Success or Error).
    </li>
    <li>
        Partial update.
    </li>
    <li>
        Detects unsaved changes before closing the modal.
    </li>
    <li>
        Partial update in addition of a Success message.
    </li>
    <li>
        Onload and After Submit Callback functions.
    </li>
    <li>
        Different Modal size selected as a parameter.
    </li>
    <li>
        Have a pop up on top of another popup
    </li>
</ul>

 