@{
    ViewBag.Title = "Contact";
}

<div class="card">
    <div class="card-header bg-dark text-white">
        <h4 class="card-title">Contact Info</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQELSICnca4AzQ/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=cndCFDjPeZ16jXr4mTeDh3_7ko6j9DEBNGk4Zw6Nn1c" class="text-center mx-auto" height="200px" />
                </div>
                <div class="form-group row">
                    <div class="mx-auto  ">
                        <i class=" fa fa-github" aria-hidden="true" style="font-size:2em"></i>
                        <i class=" fa fa-linkedin-square" aria-hidden="true" style="font-size:2em"></i>
                        <i class=" fa fa-instagram" aria-hidden="true" style="font-size:2em"></i>
                        <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:2em"></i>
                        <i class="fa fa-twitter" aria-hidden="true" style="font-size:2em"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="container">
                    <div class="col">
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Name:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">Farouk Elkhabbaz</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="font-weight-bold col-lg-6 col-md-4  col-sm-12">State:</div>
                                    <div class="col-lg-6 col-md-8  col-sm-12 form-control">Pennsylvania</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="font-weight-bold col-lg-4 col-md-4 col-sm-12">City:</div>
                                    <div class="col-lg-8 col-md-8  col-sm-12  form-control">Philadelphia</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Current Position:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">.NET Full-Stack Developer</div>
                        </div>
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Company:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">Holtec International</div>
                        </div>

                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Email Address:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control"><a href="mailto:Faroukkhabbaz@gmail.com">Faroukkhabbaz@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


