@{
    ViewBag.Title = "Contact";
}

<div class="card">
    <div class="card-header bg-dark text-white">
        <h4 class="card-title">Contact Info</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">

                <div class="row">
                    <img src="https://www.gravatar.com/avatar/8ae5bd8cefd06ebe0f0e8272086e0d3a?s=500" class="text-center mx-auto" height="200px" />
                </div>

                <div class="form-group row">
                    <div class="mx-auto  ">
                        <a href="http://git.faroukkhabbaz.com/"  target="_blank" class="btn"> <i class=" fa fa-github" aria-hidden="true" style="font-size:1.5em"></i></a>
                        <a href="http://lnkdin.faroukkhabbaz.com"  target="_blank" class="btn"> <i class=" fa fa-linkedin-square" aria-hidden="true" style="font-size:1.5em"></i></a>
                        <a href="https://www.instagram.com/faroukkhabbaz/"  target="_blank" class="btn"><i class=" fa fa-instagram" aria-hidden="true" style="font-size:1.5em"></i></a>
                        <a href="https://www.facebook.com/farouk.e.khabbaz"   target="_blank" class="btn"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:1.5em"></i></a>
                        <a href="https://twitter.com/farouk13"  class="btn"  target="_blank">   <i class="fa fa-twitter" aria-hidden="true" style="font-size:1.5em"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="container">
                    <div class="col">
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Name:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">Farouk Elkhabbaz</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="font-weight-bold col-lg-6 col-md-4  col-sm-12">State:</div>
                                    <div class="col-lg-6 col-md-8  col-sm-12 form-control">Pennsylvania</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row form-group">
                                    <div class="font-weight-bold col-lg-4 col-md-4 col-sm-12">City:</div>
                                    <div class="col-lg-8 col-md-8  col-sm-12  form-control">Philadelphia</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Current Position:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">.NET Full-Stack Developer</div>
                        </div>
                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Company:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control">Holtec International</div>
                        </div>

                        <div class="form-group row">
                            <div class="font-weight-bold col-lg-3 col-md-4 col-sm-12">Email Address:</div>
                            <div class="col-lg-9 col-md-8 col-sm-12 form-control"><a href="mailto:Faroukkhabbaz@gmail.com">Faroukkhabbaz@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


