@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron bg-dark text-white">
    <h1>Dynamic Modal</h1>
    <p class="lead">Dynamic Modal is a free package for generating Bootstrap modals dynamically! using HTML, CSS and JavaScript.</p>
</div>


<div class="row ">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h2 class="card-title">
                    What is a Modal?
                </h2>
            </div>
            <div class="card-body">
                <p>
                    A Modal is a pop-up window built with HTML, CSS classes, and JavaScript using Bootstrap framework. The Modals are positioned over everything else in the document and remove scroll from the body
                    so that the modal content will scrolls instead.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h2>
                    Where & why do we use Modal?
                </h2>
            </div>
            <div class="card-body">
                <p>
                    We use Modal whenever there is no enough space on the page to show additional information or to updated partial info &
                    provide a better user experience to the user in addition to the load performance!
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 pb-auto">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h2>
                    Is it easy to use Modals?
                </h2>
            </div>
            <div class="card-body">
                <p>
                    Using Modals is easy, but it's not considered fast development as you have to write your own JavaScript for you Ajax calls to load forms dynamically and to submit the forms.
                </p>
            </div>
        </div>
    </div>

</div>

@*@section Scripts {

    @Scripts.Render("~/bundles/dynamicModal")

    <script type="text/javascript">

            var dm = DynamicModal.init();
            $(document).ready(() => {


                $('#btnDynamicModal').unbind().click(() => {
                    dm.showDynamicModal("Test of Dynamic Modal!",'@Url.Action("DeveloperInfo", "Home")',null,ModalSize.Large,null,true);
                });

            });

    </script>


}*@