@model Employee
<td>
    @Model.FirstName
</td>
<td>
    @Model.LastName
</td>
<td>
    @Model.Position
</td>
<td>
    <a class="btn btn-dark btnViewEditEmp" data-empid="@Model.Id">View/Edit <i class="fa fa-edit"></i></a>
</td>